footer {
    background-color: #151C2B;
    padding: 20px 0;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-left {
    display: flex;
    gap: 40px;
}

.footer-group {
    text-transform: uppercase;
    font-size: 12px;
}

.footer-group p {
    margin: 5px 0;
    color: #808080;
}

.footer-group1 p:hover {
    color: white;
    cursor: pointer;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 7px;
}

.footer-address {
    text-align: right;
    font-size: 12px;
    color: #808080;
    text-transform: uppercase;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: #808080;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border: 1px solid #808080;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: white;
    border-color: white;
}
