.nav-bar {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding: 2px 0;
  transition: transform 0.3s ease-in-out;
  margin: auto 20px;
}

.nav-bar1 {
  color: white;
  position: absolute;
  z-index: 100;
  border-top: 1px solid white;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-bar1.visible {
  opacity: 100;
}

.nav-bar2 {
  color: white;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid white;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav-bar2.visible {
  transform: translateY(0);
}

.nav-bar a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  transition: color 0.3s;
}

.nav-bar a:hover {
  color: #0E91E5;
}
