* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Jost", serif;
  overflow-x: hidden!important;
}

.section {
  /* height: 100vh; */
}

/* WEDDINGS */
#weddings {
  background-color: #577590;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1254px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 600px;
  }
}

/* CONTAINER */
.container2 {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .container2 {
    max-width: 1200px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 600px;
  }
}

