* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Jost", serif;
  overflow-x: hidden!important;
}

.section {
  /* height: 100vh; */
}

#home {
  height: 100vh;
  overflow: hidden!important;
  position: relative;
  background-image: url('./pictures/1.jpg');
  background-size: cover; /* Ensures the image covers the whole section */
  background-position: center center; /* Ensures the image is centered */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

.home-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px;
  overflow: hidden;

  .title {
      text-transform: uppercase;
      color: white;
      font-size: 90px;
      /* font-size: clamp(10px, 6vw, 98px); */
      line-height: 1.5em;
      display: inline-block;

      span {
        display: block;
        font-weight: 400;
        letter-spacing: 2px;
      }
  }
  .info {
      width: 300px;
      margin-bottom: 10%;
      margin-left: auto;
      margin-right: 30px;

      .book-now {
          text-align: center;
          text-transform: uppercase;
          background-color: #0E91E5;
          border-radius: 30px;
          border: 1px solid white;
          display: block;
          padding: 4px 0;
          width: 190px;
          font-size: 25px;
          text-decoration: none;
          color: white;
          transition: all 0.3s ease;
      }
      .book-now:hover {
          border-width: 2px;
      }
      .adress {
        margin-left: 20px;
        margin-top: 20px;

        span {
          line-height: 1.8em;
          display: block;
          color: white;
        }
      }
  }
}

/* ABOUT */
#about {
  position: relative;
  background-color: #151C2B;
  padding: 50px 0;
  overflow: hidden;
  min-height: 100vh;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 980px;
  max-width: 1100px;
  text-transform: uppercase;
}

.house-icon {
  width: 237px;
  height: auto;
  margin-right: 30px;
}

.about-title .text span {
  display: block;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 48px;
  line-height: 0.8;
}

@media (max-width: 1254px) {
  .house-icon {
    width: 180px;
    margin-right: 20px;
  }
  .about-title {
    width: 980px;
    max-width: 100%;
    padding-top: 30px;
  }
  .about-title .text span {
    font-size: 38px;
    margin-right: 160px;
  }
}

@media (max-width: 950px) {
  .house-icon {
    width: 90px;
    margin-right: 20px;
  }
  .about-title .text span {
    font-size: 18px;
    margin-right: 0px;
  }
}

/* ABOUT BLOCK 2 */
.about-description {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  margin: 68px auto 0;
  text-align: left;

  div {
    flex: 1;
    max-width: 350px;

    p {
      font-size: 12px;
      line-height: 2em;
    }
  }
}

@media (max-width: 950px) {
  .about-description {
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin-top: 48px;

    p {
      width: 100%;
    }
  }
}

/* ABOUT BLOCK 3 PICTURES */
.about-pictures {
  margin: 20px 0;
}

.pic-1 {
  margin-top: 80px;
  display: flex;
  height: 285px;

  div {
    flex: 1;
  }

  div:last-child {
    position: relative;

    div {
      position: absolute;
      top: 0;
      left: 0;

      img {
        height: 285px;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

.pic-2 {
  margin-top: 50px;
  display: flex;
  height: 442px;

  div {
    flex: 1;
  }

  div:last-child {
    position: relative;

    div {
      position: absolute;
      top: 0;
      left: 0;

      img {
        height: 442px;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

.pic-3 {
  margin-top: 50px;
  display: flex;
  height: 180px;

  div {
    flex: 1;
  }

  div:first-child {
    position: relative;

    div {
      position: absolute;
      top: 0;
      right: 0;

      img {
        height: 315px;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

.pic-4 {
  margin-top: 50px;
  display: flex;
  height: 270px;

  div {
    flex: 1;
  }

  div:last-child {
    position: relative;

    div {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 30px;

      img {
        height: 359px;
        width: auto;
        object-fit: cover;
      }
    }
  }
}

.pic-5 {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  height: 315px;

  div {
    flex: 1;
  }

  div:first-child {
    position: relative;

    div {
      position: absolute;
      top: 0;
      right: -180px;

      img {
        height: 315px;
        width: auto;
        object-fit: cover;
      }
    }
  }
}


/* ACCOMMODATION */
#accommmodation {
  background-color: white;
  padding: 60px 0;
}

.accommodation-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.accommodation-list {
  width: 100%;
  max-width: 510px;
  padding-top: 20px;
}

.accommodation-list ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.accommodation-list li {
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  font-size: 22px;
  line-height: 0.8;
  transition: background-color 0.3s ease;
  color: gray;
}

.accommodation-list li.active {
  text-decoration: underline;
  color: black;
}

.accommodation-content {
  max-width: 510px;
}

#accommodation-image {
  width: 100%;
  height: auto;
}

#accommodation-description {
  margin-top: 10px;
  font-size: 12px;
  line-height: 2;
  min-height: 154px;
}

.accommmodation-book-now {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.accommmodation-book-now a {
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #0E91E5;
  display: block;
  padding: 4px 0;
  width: 190px;
  font-size: 25px;
  text-decoration: none;
  color: #0E91E5;
  transition: all 0.3s ease;
}
.accommmodation-book-now a:hover {
  background-color: #0E91E5;
  color: white;
}

/* SANTAS HOME */
#santas-home {
  background-color: #f94144;
}

#weddings {
  background-color: #577590;
}

/* HEADER */
.nav-bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  transition: transform 0.3s ease-in-out;
}

.nav-bar1 {
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-bar1.visible {
  opacity: 100;
}

.nav-bar2 {
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav-bar2.visible {
  transform: translateY(0);
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-bar a:hover {
  color: #f9c74f;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1254px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 600px;
  }
}
